# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (heavy)
*.pkl
*.joblib
*.h5
*.pt
*.bin

# HuggingFace cache
.cache/